body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
article h1 {
    text-align: left;
}
h1 {
    color: #7ab2c1;
    font: bold 22px/28px Tahoma, Arial, sans-serif;
    margin: 0 0 10px;
    text-align: center;
}
section article p {
    background: #e0e2e6;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    min-height: 140px;
    width: 260px;
    padding: 10px;
}
section article h1 {
    font-size: 20px;
    font-family: tahoma, arial, sans-serif;
    margin: 0 0 20px 0;
}
