body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
body {
    line-height: 1;
}
header, article {
    margin: 0 0 20px 0;
}
header {
    border: 2px solid #ccc;
    padding: 20px;
}
h1 {
    color: #7ab2c1;
    font: bold 22px/28px Tahoma, Arial, sans-serif;
    margin: 0 0 10px;
    text-align: center;
}
h2 {
    color: #999;
    font: italic 18px/24px Georgia, serif;
    text-align: center;
}
article h1 {
    text-align: left;
}
p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 15px;
}
