body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
body {
    line-height: 1;
}
footer {
    width: 260px;
    position: relative;
}
.newsletter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(64, 61, 63, 0.8);
    color: #fff;
    font-size: 12px;
    margin: 0;
    text-align: center;
}
.newsletter a {
    color: #7ab2c1;
}
p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 15px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
footer figure {
    background: #e0e2e6;
    border: 1px solid #c5c9cf;
    height: 88px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    width: 88px;
}
figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
h4 {
    color: #423e40;
    font: italic 12px/17px Georgia, serif;
    margin: 0 0 10px;
    text-align: center;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
footer figure img {
    border: 5px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px;
}
figcaption {
    font-size: 12px;
    line-height: 17px;
}.copyright {
  width: 120px;
}