body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
nav {
    background: #e0e2e6;
    font-size: 12px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
ul {
    list-style: none;
}
nav li a {
    font-weight: bold;
}
a {
    color: #a1805c;
    text-decoration: none;
}
article h1 {
    text-align: left;
}
h1 {
    color: #7ab2c1;
    font: bold 22px/28px Tahoma, Arial, sans-serif;
    margin: 0 0 10px;
    text-align: center;
}
nav li {
  display: inline;
  margin: 0 5px 0 5px;
}

