body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
h1 {
    color: #7ab2c1;
    font: bold 22px/28px Tahoma, Arial, sans-serif;
    margin: 0 0 10px;
    text-align: center;
}
article h1 {
    text-align: left;
}
figure {
    margin-bottom: 15px;
}
p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 15px;
}
a {
    color: #a1805c;
    text-decoration: none;
}
a:hover, a:focus {
    color: #c29f79;
}
.button, .more {
    background: #7ab2c1;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 5px 10px;
    text-align: center;
}
.more {
    display: block;
    position: relative;
    padding: 0 50px;
}
.more {
    background: #c09d78 right top url('arrow.png') no-repeat ;
    line-height: 40px;
    margin: 15px 0;
    padding: 0 50px;
}
.more:hover, .more:focus {
    color: #fff;
}
.more img {
    position: absolute;
    right: 0;
    top: 0;
}
