body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 15px;
}
a {
    color: #a1805c;
    text-decoration: none;
}
a.store {
    background: #7ab2c1;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 0 10px;
    text-align: center;
    width: 200px;
}
.store {
    display: block;
    position: relative;
}
.store:before, .store:after {
    display: block;
    position: absolute;
    content:'';
}
.store:before {
    background: url(store-before.png);
    height: 23px;
    width: 54px;
    top: -3px;
    left: -3px;
}
.store:after {
    background: url(store-after.png);
    height: 20px;
    width: 41px;
    bottom: -3px;
    right: -3px;
}
.store:hover:before, .store:focus:before {
    top: -5px;
    left: -5px;
}
.store:hover:after, .store:focus:after {
    bottom: -5px;
    right: -5px;
}

