section {
    border: 2px dashed #ccc;
    padding: 15px 15px 0;
    width: 260px;
}
nav {
    background: #e0e2e6;
    font-size: 12px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
nav li {
    float: left;
    display: inline;
    margin: 0 10px 0 0;
}
nav li a {
    font-weight: bold;
}
aside {
    float: right;
    width: 120px;
}
aside p {
    font-size: 10px;
    margin: 0;
    font-style: italic;
}
article {
    float: left;
    width: 120px;
}
ol, ul {
    list-style: none;
}
a {
    color: #a1805c;
    text-decoration: none;
}
p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 15px;
}
p {
  font-style: normal;
}
h3 {
    color: #848990;
    font: bold 16px/20px Tahoma, Arial, sans-serif;
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
/* clearfix */
 .group:before, .group:after {
    content:"";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.main li a {
  color: #7ab2c1;
}
.main .active a {
  color: #826c55;
}
.primary p {
  font-size: 12px;
}
.primary .copyright {
  font-size: 10px;
}
