body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
h1 {
    color: #7ab2c1;
    font: bold 22px/28px Tahoma, Arial, sans-serif;
    margin: 0 0 10px;
    text-align: center;
}
.logo {
    background: url(logo.png);
    display: block;
    height: 75px;
    width: 250px;
    text-indent: -9999px;
}
.logo {
    margin: 0 auto 15px;
}
a {
    color: #a1805c;
    text-decoration: none;
}
h2 {
    color: #999;
    font: italic 18px/24px Georgia, serif;
    text-align: center;
}
