body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
h1 {
    color: #7ab2c1;
    font: bold 22px/28px Tahoma, Arial, sans-serif;
    margin: 0 0 10px;
    text-align: center;
}
article h1 {
    text-align: left;
}
p {
	margin: 0 0 10px 0;
    font: 14px/16px tahoma, arial, sans-serif;    
}
