html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
footer figure {
    background: #e0e2e6;
    border: 1px solid #c5c9cf;
    padding: 15px;
    width: 88px;
}
footer figure img {
    border: 5px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px;
}
h4 {
    color: #423e40;
    font: italic 12px/17px Georgia, serif;
    margin: 0 0 10px;
    text-align: center;
}
figcaption {
    font-size: 12px;
    line-height: 17px;
}
