body {
color: #706c6e;
font-family: Tahoma,Arial,sans-serif;
}
header, article, aside {
  padding: 10px;
  background: #e0e2e6;
}
article {
  margin: 20px 0;
}
h1 {
color: #7ab2c1;
font: bold 22px/28px Tahoma,Arial,sans-serif;
margin: 0 0 10px;
text-align: center;
}
h2 {
color: #999;
font: italic 18px/24px Georgia,serif;
text-align: center;
}
article h1, aside h1 {
color: #848990;
font: bold 16px/20px tahoma, arial, sans-serif;
margin: 0 0 15px;
text-align: left;
}
p {
font-size: 14px;
line-height: 19px;
margin: 0 0 15px;
}
aside p {
font-size: 14px;
font-style: normal;
margin: 0 0 15px;
}
.disclaimer {
font: italic 12px Georgia,serif;
}