body {
    color: #706c6e;
    font-family: Tahoma, Arial, sans-serif;
}
h1 {
    color: #7ab2c1;
    font: bold 22px/28px Tahoma, Arial, sans-serif;
    margin: 0 0 10px;
    text-align: center;
}
article h1 {
    text-align: left;
}
img {
    border: 2px solid #c5c9cf;
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
}
p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 15px;
}
